.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.5s;
}

.form-row input {
  background-color: white;
  color: black;
}
.form-row textarea {
  background-color: white;
}

.popup-inner {
  position: absolute;
  width: auto;
  height: auto;
  box-shadow: 0px 0px 5px black;
  padding: 50px 70px 30px 70px;
  border-radius: 10px;
  background-color: var(--dark-blue);
  max-height: 90vh;
}
@media (max-width: 784px) {
  .popup-inner {
    padding: 40px 30px 10px 30px;
  }
}
@media (max-width: 636px) {
  .popup-inner {
    padding: 30px 20px 10px 20px;
    width: 95vw;
  }
  form {
    padding: 0px 10px;
  }
}

.cancel-icon {
  margin: 0;
  padding: 0;
  font-size: 2em;
  position: absolute;
  color: white;
  right: -1.5%;
  top: -4%;
}
.fa-window-close {
  background: radial-gradient(#aeb6bd 50%, transparent 50%);
  transition: all ease-in 0.3s;
}
.fa-window-close:hover {
  color: var(--yellow);
  background: radial-gradient(white 50%, transparent 50%);
}
.addInput {
  border: none;
  border-bottom: 1px solid black;
  outline: none !important;
}
