:root {
  --notes-inner: #c4ecfe;
}
.note-body {
  width: 90%;
  min-width: 100px;
  margin-top: 50px;
  margin: 50px auto 20px auto;
  border-top: 5px solid #a7bbcd;
  box-shadow: 0px 0px 0px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.4em 2.5em;
  background: #183153;
  color: white;
  text-align: left;
  position: relative;
  z-index: 100;
  border-radius: 10px;
}
.upper-note-body,
.lower-note-body {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.upper-note-body {
  bottom: 0;
  left: 0;
  clip-path: ellipse(100% 40% at -1% 99%);
  background-color: var(--notes-inner);
}
.lower-note-body {
  top: 0;
  right: 0;
  clip-path: ellipse(100% 40% at 99% -1%);
  background-color: var(--notes-inner);
}

.note-body .heading {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  z-index: 100;
}
.title {
  padding: 2px 3px;
  border-radius: 5px;
  width: fit-content;
  background-color: #146ebe;
  z-index: 100;
}
.desc {
  position: relative;
  word-wrap: break-word;
  margin-bottom: 20px;
  height: 130px;
  z-index: 100;
}
.icon2 {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0%;
  bottom: 5%;
  z-index: 100;
}
.note-body .fas {
  cursor: pointer;
  color: white !important;
  font-size: 1rem;
}
.fa-trash:hover {
  color: #7f868b;
}
.fa-pencil-alt:hover {
  color: rgb(91, 91, 214);
}
.title {
  font-size: 1.8rem;
}
.tag {
  font-size: 1.2rem;
  color: #a7bbcd;
}
